$violet--dark: rgb(95, 75, 139);
$violet--light: rgb(185, 155, 197);
$event-violet: rgb(214, 183, 255);
$event-blue: rgb(151, 191, 233);
$event-green: rgb(156, 236, 169);
$event-yellow: rgb(255, 227, 136);
$event-red: rgb(255, 123, 136);
$grey: rgb(153, 153, 153);
$grey--light: rgb(200, 200, 200);
$grey--lighter: rgb(220, 220, 220);
$bg-color: rgb(255, 255, 255);
$bg-color--a: rgba(255, 255, 255, 0.6);
$alert-red: rgb(215, 50, 100);

$size-xs: 320px;
$size-sm: 480px;
$size-md: 640px;

$font--main: 'Montserrat', sans-serif;
$font--secondary: 'Open Sans', sans-serif;
