@import '../utils/utils';

.event-bar {
  @include flex($justify: space-between, $align: center);
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: 0.5rem auto;
  padding: 1rem 0;
  border-bottom: 1px solid $grey--lighter;
  @include media($size-md) {
    @include flex($align: center);
    padding-left: 2rem;
  }
  &__info {
    @include flex();
    flex-wrap: wrap;
    flex: 4;
    @include media($size-sm) {
      @include flex(column, center, center);
    }
  }
  &__item {
    @include flex();
    font-family: $font--secondary;
    padding: 0.5rem;
    vertical-align: middle;
    &__text {
      line-height: 1.5rem;
    }
    &--name {
      flex: 4;
      @include media($size-md) {
        width: 100%;
      }
    }
    &--date {
      flex: 3;
      @include media($size-md) {
        flex: none;
        width: 70%;
      }
    }
    &--time {
      flex: 1;
      @include media($size-md) {
        flex: none;
        width: 30%;
      }
    }
    @include media($size-md) {
      flex: none;
    }
    @include media($size-sm) {
      width: 100%;
    }
  }
  &__icons {
    text-align: right;
    max-width: 150px;
    padding: 0.2rem;
    @include media($size-md) {
      @include flex(column);
      flex: none;
    }
  }
  &__iconBtn {
    border: none;
    -webkit-appearance: none;
    font-size: 1.5rem;
    @include media($size-md) {
      margin: 0.25rem;
    }
  }
  &__icon {
    display: inline;
    @include icons;
    padding: 0.2rem;
    font-size: 0.75em;
    @include media($size-md) {
      font-size: 0.7em;
    }
  }
  &__typeIcon {
    color: $grey--light;
    height: 100%;
    @include radio-colors;
    vertical-align: top;
    cursor: default;
    margin-right: 0.5rem;
  }
}
