@import '../utils/utils';

.start {
  @include flex(column, center, center);
  width: 100%;
  height: 100vh;
  &__welcome {
    font-family: $font--main;
    font-size: 1.2rem;
    color: $violet--light;
    text-transform: uppercase;
  }
  &__header {
    font-family: $font--main;
    font-size: 4rem;
    color: $violet--dark;
    margin: 1rem auto 1.5rem;
  }
  &__btn {
    @include button;
  }
}
