@import '../utils/utils';

.calendar-header {
  &__main {
    @include flex($justify: space-between);
    text-align: center;
    padding: 1rem calc(100% / 14);
  }
  &__month {
    font-family: $font--main;
    font-size: 1.5rem;
  }
  &__week {
    @include flex($justify: space-between);
    font-family: $font--main;
    text-align: right;
    text-transform: uppercase;
  }
  &__day {
    width: calc(100% / 7);
    padding: 0.75rem;
  }
  &__button {
    border: none;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: none;
  }
  &__icon {
    @include icons;
  }
  @include media($size-sm) {
    font-size: 0.8em;
  }
}
