@import '../utils/utils';

.calendar {
  margin: 100px auto 0;
  width: 100%;
  height: calc(100vh - 150px);
  max-width: 1024px;
  font-family: $font--main;
  &__week-row {
    @include flex;
  }
  @include media($size-sm) {
    padding: 0 0.75rem;
  }
}
