@import '../utils/utils';

.navbar {
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: $bg-color;
  border-bottom: 1px solid $grey--light;
  @include flex($align: center);
  &__wrapper {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    text-align: center;
    @include flex($justify: space-between, $align: center);
  }
  &__logo > a {
    text-decoration: none;
  }
  &__title {
    font-family: $font--main;
    font-size: 1.5rem;
  }
  &__icon.material-icons {
    @include icons;
  }

  a.selected > .navbar__icon.material-icons {
    display: none;
  }
}
