.editor-window {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 auto;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;

}
.editor-panel {
  height: 80vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 5% 10%;
  border: 1px solid teal;
  border-radius: 5px;
  .icon__close {
    display: block;
    position: absolute;
    right: 1.5rem;
    top: 1.25rem;
  }
}
