.events-list {
  height: 80vh;
  width: 100%;
  margin-top: 120px;

  &__month {
    width: 90%;
    margin: 20px auto;
  }
  &__item {
    height: 80px;
    padding: 2%;
    border-radius: 5px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 1.2em;
  }

}



