.navbar  {
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
  border-bottom: 2px solid teal;
  background-color:transparent;
  color: #333;


  &--wrapper {
    width: 90%;
    padding: 0 2%;
    margin: 0 auto;
    text-align: center;
  }

  h1 {
    font-size: 1.5rem;

  }
  i {
    color: black;

  }
}
